In [1]:
import pandas as pd
import numpy as np

### 1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
### 2. Считать данные с помощью pandas
### 3. Вывести на экран первые 5 строк
* 1.1 Создать новый признак Cpu_Company, который будет
содержать только название фирмы, которая произвела CPU
* 1.2 Создать новый признак Memory_Amount, который будет
содержать только количество Gb памяти без указания типа
носителя
* 1.3 Создать новый признак Memory_Type, который будет
содержать только тип носителя (HDD/SDD/др.)
* 1.4 Удалите признаки Memory и ScreenResolution

In [38]:
df = pd.read_csv('./laptop_price.csv', encoding='latin1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [7]:
df['Cpu'].value_counts()

Cpu
Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core i5 7200U 2.70GHz        1
Intel Core M M7-6Y75 1.2GHz        1
Intel Core M 6Y54 1.1GHz           1
AMD E-Series 9000 2.2GHz           1
Samsung Cortex A72&A53 2.0GHz      1
Name: count, Length: 118, dtype: int64

In [39]:
#def cpu_to_comp(x):
#    return str(x).split()[0]

#df['Cpu_Company'] = df['Cpu'].apply(cpu_to_comp)
df['Cpu_Company'] = df['Cpu'].apply(lambda i: i.split()[0])
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel

In [15]:
df['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
1TB SSD                           14
512GB SSD +  1TB HDD              14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
16GB SSD                           3
512GB SSD +  2TB HDD               3
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
64GB SSD                           1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
512GB SSD +  256GB SSD             1
32GB HDD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [40]:
def mem_to_gb(x):
    mem=str(x).split()[0]
    if mem.endswith('GB'):
        return int(mem.replace('GB',''))
    return int(float(mem.replace('TB',''))*1024)

df['Memory_Amount'] = df['Memory'].apply(mem_to_gb)

#df['Memory_Amount'] = df['Memory'].apply(lambda i: ''.join(filter(str.isdigit,i)))

df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256

In [22]:
df['Memory_Amount'].value_counts()

Memory_Amount
256     508
1024    250
128     177
512     140
500     132
32       45
64       17
2048     16
16       10
180       5
240       1
8         1
508       1
Name: count, dtype: int64

In [41]:
d='512GB SSD +  1.0TB Hybrid'
print(d.replace(' ','').split('B')[-1])

Hybrid

In [42]:
def mem_to_type(x):
    return x.replace(' ','').split('B')[-1]
    

df['Memory_Type'] = df['Memory'].apply(mem_to_type)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

In [45]:
df.drop(columns=['Memory', 'ScreenResolution'], inplace=True)

## Задание 2.
* 2.1 Создайте признак SSD, который изначально равен 0
* 2.2 Поставьте в признаке SSD 1, если ноутбук
действительно с типом носителя SSD
* 2.3 Уберите в признаке Weight значения 'kg' и поменяйте его
тип данных на вещественный

In [43]:
df['SSD'] =0

In [46]:
df.loc[df['Memory_Type'] == 'SSD','SSD'] = 1
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,1

In [53]:
#df['Weight']=df['Weight'].apply(lambda i: i.replace('kg','')).astype(float) 
df['Weight']

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: Weight, Length: 1303, dtype: float64

## Задание 3.
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками
* 3.1 Присоедините к таблице clients данные по ноутбукам
через метод join
* 3.2 Присоедините к таблице clients данные по ноутбукам
через метод merge
Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [61]:
clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_ID': [506, 398, 710, 120, 1999]
})

In [62]:
clients

   client_id  laptop_ID
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [71]:
joined=clients
joined.set_index('laptop_ID').join(df.set_index('laptop_ID')).reset_index().head()

,laptop_ID,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
1,398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
3,120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
4,1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
merged = clients.merge(df, on='laptop_ID', how='inner')
merged.head()

,client_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1
1,67,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0
2,33,120,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,HDD,0

## Задание 4.
Составьте несколько сводных таблиц
* 4.1 Найдите среднюю стоимость ноутбуков в зависимости
от компании производителя
Отсортируйте от меньшей стоимости к большей
* 4.2 Найдите минимальную, среднюю и максимальную
стоимости ноутбуков в зависимости от производителя
процессора
* 4.3 Постройте таблицу с подсчетом количества ноутбуков в
данных в зависимости от производителя CPU и ОЗУ
* 4.4 Постройте таблицу с подсчетом средней стоимости
ноутбуков в данных в зависимости от операционной
системы и GB памяти

In [110]:
# df.pivot_table(index='Company',
#                   aggfunc='mean',
#                   values='Price_euros',
#                   sort=True
#                   )
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values(by='Price_euros', ascending=True)

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [88]:
df.pivot_table(index='Cpu_Company',
               columns='Memory_Type',
               values='laptop_ID',
                  aggfunc='count',
                  fill_value=0)

Memory_Type  FlashStorage  HDD  Hybrid  SSD
Cpu_Company
AMD                     1   38       3   20
Intel                  72  538       9  621
Samsung                 1    0       0    0

In [91]:
pd.crosstab(index=df['Cpu_Company'],
            columns=df['Memory_Type'])

Memory_Type  FlashStorage  HDD  Hybrid  SSD
Cpu_Company
AMD                     1   38       3   20
Intel                  72  538       9  621
Samsung                 1    0       0    0

In [96]:
df.pivot_table(index='OpSys',
               columns='Memory_Amount',
               values='Price_euros',
                  aggfunc='mean',
                  fill_value=0)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0.0,0.00,0.000000,434.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
Chrome OS,0.0,305.38,412.454545,774.333333,1275.000000,0.0,0.0,1559.000000,0.000000,0.0,2199.000000,0.000000,0.0000
Linux,0.0,0.00,0.000000,0.000000,742.250000,0.0,0.0,811.638125,389.056364,0.0,0.000000,581.401290,0.0000
Mac OS X,0.0,0.00,0.000000,0.000000,1099.000000,0.0,0.0,1311.994000,0.000000,0.0,1222.000000,0.000000,0.0000
No OS,0.0,0.00,0.000000,0.000000,562.140000,0.0,0.0,782.989286,404.675385,0.0,1098.500000,540.539600,594.0000
Windows 10,2249.0,0.00,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,0.0,1911.985285,904.827906,666.9475
Windows 10 S,0.0,0.00,0.000000,308.995000,1039.000000,0.0,0.0,1668.950000,0.000000,0.0,2589.000000,0.000000,0.0000
Windows 7,0.0,0.00,0.000000,0.000000,1320.323333,1199.0,0.0,1846.466800,924.048333,1002.0,2235.396667,1539.666667,0.0000
macOS,0.0,0.00,0.000000,0.000000,1119.315000,0.0,0.0,1600.370000,0.000000,0.0,2180.870000,0.000000,0.0000

In [124]:
pd.crosstab(index=df['OpSys'],
            columns=df['Memory_Amount'],
            values=df['Price_euros'],
            aggfunc='mean').fillna(0)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0.0,0.00,0.000000,434.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
Chrome OS,0.0,305.38,412.454545,774.333333,1275.000000,0.0,0.0,1559.000000,0.000000,0.0,2199.000000,0.000000,0.0000
Linux,0.0,0.00,0.000000,0.000000,742.250000,0.0,0.0,811.638125,389.056364,0.0,0.000000,581.401290,0.0000
Mac OS X,0.0,0.00,0.000000,0.000000,1099.000000,0.0,0.0,1311.994000,0.000000,0.0,1222.000000,0.000000,0.0000
No OS,0.0,0.00,0.000000,0.000000,562.140000,0.0,0.0,782.989286,404.675385,0.0,1098.500000,540.539600,594.0000
Windows 10,2249.0,0.00,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,0.0,1911.985285,904.827906,666.9475
Windows 10 S,0.0,0.00,0.000000,308.995000,1039.000000,0.0,0.0,1668.950000,0.000000,0.0,2589.000000,0.000000,0.0000
Windows 7,0.0,0.00,0.000000,0.000000,1320.323333,1199.0,0.0,1846.466800,924.048333,1002.0,2235.396667,1539.666667,0.0000
macOS,0.0,0.00,0.000000,0.000000,1119.315000,0.0,0.0,1600.370000,0.000000,0.0,2180.870000,0.000000,0.0000

In [114]:
df.groupby(['OpSys','Memory_Amount']).agg({'Price_euros': 'mean' }).unstack('Memory_Amount').fillna(0)

              Price_euros                                               \
Memory_Amount        8       16          32          64           128
OpSys
Android               0.0    0.00    0.000000  434.000000     0.000000
Chrome OS             0.0  305.38  412.454545  774.333333  1275.000000
Linux                 0.0    0.00    0.000000    0.000000   742.250000
Mac OS X              0.0    0.00    0.000000    0.000000  1099.000000
No OS                 0.0    0.00    0.000000    0.000000   562.140000
Windows 10         2249.0    0.00  270.001471  499.716000  1026.489167
Windows 10 S          0.0    0.00    0.000000  308.995000  1039.000000
Windows 7             0.0    0.00    0.000000    0.000000  1320.323333
macOS                 0.0    0.00    0.000000    0.000000  1119.315000

                                                                             \
Memory_Amount    180     240          256         500     508          512
OpSys
Android           0.0     0.0     0.000000    0.000000     0.0     0.000000
Chrome OS         0.0     0.0  1559.000000    0.000000     0.0  2199.000000
Linux             0.0     0.0   811.638125  389.056364     0.0     0.000000
Mac OS X          0.0     0.0  1311.994000    0.000000     0.0  1222.000000
No OS             0.0     0.0   782.989286  404.675385     0.0  1098.500000
Windows 10     1073.5  3100.0  1334.456872  664.717647     0.0  1911.985285
Windows 10 S      0.0     0.0  1668.950000    0.000000     0.0  2589.000000
Windows 7      1199.0     0.0  1846.466800  924.048333  1002.0  2235.396667
macOS             0.0     0.0  1600.370000    0.000000     0.0  2180.870000


Memory_Amount         1024      2048
OpSys
Android           0.000000    0.0000
Chrome OS         0.000000    0.0000
Linux           581.401290    0.0000
Mac OS X          0.000000    0.0000
No OS           540.539600  594.0000
Windows 10      904.827906  666.9475
Windows 10 S      0.000000    0.0000
Windows 7      1539.666667    0.0000
macOS             0.000000    0.0000

## Задание 5*.
Ответьте на несколько вопросов
* 5.1 Ноутбуков каких компаний и с каким процессором
больше?
* 5.2 С каким типом памяти и с каким объемом памяти
больше ноутбуков?

In [127]:
#df.groupby({'Company','Cpu_Company'},).agg({'Cpu_Company': 'count'}).sort_values(by='Cpu_Company', ascending=False)
df.pivot_table(index=['Cpu_Company','Company'],
               values='laptop_ID',
                  aggfunc='count',
                  fill_value=0).sort_values(by=['Cpu_Company','laptop_ID'], ascending=False)

                       laptop_ID
Cpu_Company Company
Samsung     Samsung            1
Intel       Dell             297
            Lenovo           281
            HP               249
            Asus             147
            Acer              93
            MSI               54
            Toshiba           48
            Apple             21
            Samsung            8
            Mediacom           7
            Razer              7
            Microsoft          6
            Vero               4
            Xiaomi             4
            Chuwi              3
            Fujitsu            3
            Google             3
            LG                 3
            Huawei             2
AMD         HP                25
            Lenovo            16
            Asus              11
            Acer              10

In [130]:
df.groupby(['Cpu_Company','Company']).agg({'laptop_ID': 'count'}).sort_values(by=['Cpu_Company','laptop_ID'], ascending=False)

                       laptop_ID
Cpu_Company Company
Samsung     Samsung            1
Intel       Dell             297
            Lenovo           281
            HP               249
            Asus             147
            Acer              93
            MSI               54
            Toshiba           48
            Apple             21
            Samsung            8
            Mediacom           7
            Razer              7
            Microsoft          6
            Vero               4
            Xiaomi             4
            Chuwi              3
            Fujitsu            3
            Google             3
            LG                 3
            Huawei             2
AMD         HP                25
            Lenovo            16
            Asus              11
            Acer              10

In [139]:
df.groupby(['Company','Cpu_Company']).agg({'laptop_ID': 'count'}).unstack('Cpu_Company').fillna(0)#.sort_values(by='Cpu_Company', ascending=False)

            laptop_ID
Cpu_Company       AMD  Intel Samsung
Company
Acer             10.0   93.0     0.0
Apple             0.0   21.0     0.0
Asus             11.0  147.0     0.0
Chuwi             0.0    3.0     0.0
Dell              0.0  297.0     0.0
Fujitsu           0.0    3.0     0.0
Google            0.0    3.0     0.0
HP               25.0  249.0     0.0
Huawei            0.0    2.0     0.0
LG                0.0    3.0     0.0
Lenovo           16.0  281.0     0.0
MSI               0.0   54.0     0.0
Mediacom          0.0    7.0     0.0
Microsoft         0.0    6.0     0.0
Razer             0.0    7.0     0.0
Samsung           0.0    8.0     1.0
Toshiba           0.0   48.0     0.0
Vero              0.0    4.0     0.0
Xiaomi            0.0    4.0     0.0